<div class="relative mb-14">
  <app-back-button></app-back-button>

  <div class="p-4">
    <h1 class="text-xl font-bold mb-2">Mis Direcciones</h1>
    <h2 class="text-me text-gray-500 mb-4">Configura donde recibir tu pedido</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 pt-4">
      @if (loadingAddresses) {
        @for (skeleton of [0,1,2,3,4]; track skeleton) {
          <div class="h-[110px] bg-gray-200 rounded animate-pulse"></div>
        }
      } @else {
        @for (address of addresses; track address.id) {
          <div (click)="setSelectedAddress(address)"
               [class.selected]="address.selected"
               class="border border-stone-400 p-4 rounded cursor-pointer"
               [ngClass]="address.selected ? 'border-stone-900': 'border-stone-400'"
          >
            <h2 class="text-lg font-medium line-clamp-2 w-full">{{ address.address }}</h2>
            <p class="text-sm text-gray-600 line-clamp-2 w-full">{{ address.detail }}</p>
            <p class="text-sm text-gray-600"></p>
          </div>
        }
      }
    </div>
  </div>

  <app-next-button [action]="navigateToAddAddress" class="fixed bottom-4 left-4 w-full" title="Agregar Dirección" subtitle="Enviamos a donde vos quieras"></app-next-button>
</div>
