<div class="bg-black p-4 pb-12 mt-4 flex flex-col gap-4">
  <img class="h-18 w-18" src="assets/nogluten-logo.png" alt="Barsac Logo">
  <a routerLink="privacy-policy" class="text-white font-medium">Politicas de privacidad</a>
  @if (isLoggedIn) {
    <a class="text-white font-medium cursor-pointer" (click)="openDeleteModal()">Eliminar mi cuenta</a>
  }
  <div class="outline-1 outline-white"></div>
  <h3 class="text-white font-medium">Copyright © 2025 NoGluten S.A.S.</h3>
  <h4 class="text-white font-medium">Guaymallen, Mendoza</h4>
</div>

@if (showDeleteModal) {
  <app-delete-account-modal (close)="closeDeleteModal()"></app-delete-account-modal>
}
