@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */
.grecaptcha-badge {
  visibility: visible !important;
  opacity: 1 !important;
  position: absolute !important;
  bottom: 70000rem !important;
  right: 70000rem !important;
  box-shadow: none !important;
  margin-top: 1rem; /* Optional spacing */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.ios-safe-area {
  padding-top: env(safe-area-inset-top);
}
