<div class="relative flex flex-col gap-4 max-w-lg mx-auto bg-white rounded-lg p-6 relative">
  <div class="flex flex-col">
    <h1 class="text-xl font-bold mb-2">Checkout</h1>
    <h2 class="text-me text-gray-500 mb-4">Estás a un paso de disfrutar tu pedido</h2>
  </div>

  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <h3 class="text-lg font-semibold">Datos de la entrega</h3>
      <div class="flex flex-row text-sm justify-between mb-1 items-center">
        <div class="flex flex-row items-center gap-2">
          <ng-icon size="20" name="matMotorcycleRound"></ng-icon>
          <div class="flex flex-col">
            <div class="font-bold">Delivery</div>
            <div class="font-light">25-45 min</div>
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-2 text-sm justify-between mb-1 items-center">
        <div class="flex flex-row items-center gap-2 flex-1 min-w-0">
          <ng-icon size="20" name="matLocationOnRound"></ng-icon>
          <div class="flex flex-col flex-1 min-w-0">
            <div class="font-bold">Enviar a</div>
            @if (isLoading) {
              <div class="h-[20px] w-40 bg-gray-200 rounded animate-pulse"></div>
            } @else {
              <div class="font-light line-clamp-1 w-full truncate">{{ selectedAddress ? selectedAddress?.address : 'Aún no tenes una dirección cargada' }}</div>
            }
          </div>
        </div>
        <div class="font-medium whitespace-nowrap" (click)="navigateToProfileAddress()">
          {{ selectedAddress ? 'Cambiar' : 'Agregar' }}
        </div>
      </div>
      <div class="flex flex-row gap-2 text-sm justify-between mb-1 items-center">
        <div class="flex flex-row items-center gap-2">
          <ng-icon size="20" name="matNotesRound"></ng-icon>
          <div class="flex flex-col">
            <div class="font-bold">Instrucciones</div>
            @if (isLoading) {
              <div class="h-[20px] w-32 bg-gray-200 rounded animate-pulse"></div>
            } @else {
              <div class="font-light line-clamp-1">{{ selectedAddress?.reference || 'Sin instrucciones extra' }}</div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  @if (!isLoading && (!selectedAddress || !checkout)) {

    {{ isLoading }}
    {{ selectedAddress | json }}
    {{ checkout | json }}

    <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-red-600/10 ring-inset">Agrega una dirección para poder ver el precio de envio, de los productos y el total.</span>
  }

  <!-- Skeleton Loaders -->
  @if (isLoading) {
    <div class="flex flex-col gap-4">
      <div class="">
        <h3 class="text-lg font-semibold mb-2">Resumen</h3>
        <div class="flex text-sm justify-between mb-1">
          <span>Total en productos</span>
          <span class="h-4 w-16 bg-gray-200 rounded animate-pulse inline-block"></span>
        </div>
        <div class="flex text-sm justify-between mb-1">
          <span>Total en envío</span>
          <span class="h-4 w-16 bg-gray-200 rounded animate-pulse inline-block"></span>
        </div>
      </div>
      <div class="">
        <h3 class="text-base font-semibold mb-2">Descuentos</h3>
        <div class="flex text-sm justify-between mb-1">
          <span>Productos</span>
          <span class="h-4 w-16 bg-gray-200 rounded animate-pulse inline-block"></span>
        </div>
        <div class="flex text-sm justify-between mb-1">
          <span>Envio</span>
          <span class="h-4 w-16 bg-gray-200 rounded animate-pulse inline-block"></span>
        </div>
      </div>
    </div>
  }

  <!-- Real Content -->
  @if (selectedAddress && checkout && !isLoading) {
    <div class="flex flex-col gap-4">
      <div class="">
        <h3 class="text-lg font-semibold mb-2">Resumen</h3>
        <div class="flex text-sm justify-between mb-1">
          <span>Total en productos</span>
          <span class="font-light">{{ checkout?.products?.total | currency }}</span>
        </div>
        <div class="flex text-sm justify-between mb-1">
          <span>Total en envío</span>
          <span class="font-light">{{ checkout?.ship?.total | currency }}</span>
        </div>
      </div>
      <div class="">
        <h3 class="text-base font-semibold mb-2">Descuentos</h3>
        @if (checkout?.products?.discount != 0) {
          <div class="flex text-sm justify-between mb-1">
            <span>Productos</span>
            <span class="font-light">{{ ((checkout?.products?.discount || 0) * -1) | currency }}</span>
          </div>
        }
        @if (checkout?.ship?.discount != 0) {
          <div class="flex text-sm justify-between mb-1">
            <span>Envio</span>
            <span class="font-light">{{ ((checkout?.ship?.discount || 0) * -1) | currency }}</span>
          </div>
        }
      </div>
      <div class="flex justify-between text-lg font-bold">
        <span>Total</span>
        @if (isLoading) {
          <span class="h-6 w-20 bg-gray-200 rounded animate-pulse"></span>
        } @else {
          <span>{{ checkout?.total | currency }}</span>
        }
      </div>
    </div>
  }

  <app-back-button></app-back-button>

  @if (isLoading) {
    <div class="fixed bottom-4 left-4 right-4 w-auto">
      <div class="h-13 bg-gray-200 rounded animate-pulse"></div>
    </div>
  } @else {
    <app-next-button [disabled]="selectedAddress == undefined || checkout == undefined" class="fixed bottom-4 left-4 w-full" [action]="navigateToMercadoPago(checkout?.payment_link)"
                     title="Ir a Mercadopago" subtitle="Estas a punto de terminar!"></app-next-button>
  }

</div>
